<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Minnesota State Fair</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./assets/vue-app-fcab391e.css">
    <script type="module" src="./vue-app.js"></script>
</head>
<body>
    <div id="app" class="cla-template-wrapper">
        <umn-app-header>
            {{!-- <template #title> --}}
                <a href="/" style="text-decoration: none; color: inherit;">Minnesota State Fair</a>
            {{!-- </template> --}}
        </umn-app-header>
        
        <umn-postit>
            <h1>{{title}}</h1>
            <p>{{fact}}</p>
            <div id="prize-message" class="hidden">
                <h2>Congratulations! 🎉</h2>
                <p>You've visited 5 or more State Fair buildings!</p>
                <a href="{{prizeLink}}" class="prize-link">Click here to enter our prize drawing</a>
            </div>
        </umn-postit>
        
        {{!-- <umn-app-footer /> --}}
    </div>
    <script src="./script.js"></script>
</body>
</html> 